$theme-colors: (
  "dark-yellow": #af910c,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

.h6 {
  font-size: 15px;
}

.text-black {
  color: #000 !important;

  &:hover {
    color: $dark !important;
  }
}

.btn {
  border-radius: 2px;
  padding: 0.375rem 1.70rem;
}

.img {
  height: 500px;
}

.form-control {
  border-radius: 2px;
  background-color: #e2e2e2;
}
